:root {
    font-family: 'Open Sans';
}

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */

    /* padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver; */
    
}

img {
    height: auto;
    width: auto;
    object-fit: cover;
    vertical-align: bottom;
    height: 40vh;
    flex-grow: 1;
}

header {
    text-align: center;
    background-color: #e23e57;
    padding: 0.5rem;
}

body {
    /* background: #333 url('https://source.unsplash.com/daily') no-repeat center center/cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: white;
    background-color: #522546;
    margin: 0;
    padding: 0;
}

/* Nav Bar START */
nav {
    font-size: 1.5rem;
    background-color: #88304e;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
    color: #311d3f;
}

nav a:hover {
    /* color: grey; */
    background-color: #311d3f;
    color: white;
}

@media(max-width : 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}
/* Nav Bar CSS END */

@media(max-width : 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}