:root {
    font-family: 'Open Sans';
}

body {
    color: white;
    background-color: #522546;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #e23e57;
    padding: 0.5rem;
}

/* Nav Bar START */
nav {
    font-size: 1.5rem;
    background-color: #88304e;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
    color: #311d3f;
}

nav a:hover {
    /* color: grey; */
    background-color: #311d3f;
    color: white;
}

@media(max-width : 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}
/* Nav Bar CSS END */


img {
    width: 50%;
    height: auto;
}

figcaption {
    background-color: red;
    padding: 1rem;
}

@media(max-width : 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul a {
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }
}
