body {
    background-color: lightgray;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0e0e;
    
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #111111;
}

#about-me {
    background-color: cyan;
}

section {
    background-color: darkblue;
}